@import "./variables.scss";
@import "./_mixins.scss";
@import "./_reset.scss";

// normal, disabled, controls, hover, pressed
QAbstractSpinBox {
    max-height: 20px;
    @include space2px;
    background-color: $contrast-bg;
    @include softborder;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 6px;
    text-align: left;
    &:hover {
        border-color: $accent-border;
    }
    &:disabled {
        color: $disabledtext;
        border-color: $softborder;
    }
    &::up-button {
        width: 12px;
        subcontrol-origin: border;
        subcontrol-position: top right;
        top: 1px;
        right: 1px;
        background-color: $control-bg;
        border: 1px solid $softborder;
        border-radius: 0px;
        border-top-right-radius: 2px;
        &:hover {
            background-color: $hardborder;
            border: 1px solid $hardborder;
        }
        &:pressed {
            background-color: $accent-bg;
            border: 1px solid $accent-bg;
        }
        &:disabled {
            background-color: $softborder;
            border: 1px solid $softborder;
        }
    }
    &::down-button {
        width: 12px;
        subcontrol-origin: border;
        subcontrol-position: bottom right;
        bottom: 1px;
        right: 1px;
        background-color: $control-bg;
        border: 1px solid $softborder;
        border-radius: 0px;
        border-bottom-right-radius: 2px;
        &:hover {
            background-color: $hardborder;
            border: 1px solid $hardborder;
        }
        &:pressed {
            background-color: $accent-bg;
            border: 1px solid $accent-bg;
        }
        &:disabled {
            background-color: $softborder;
            border: 1px solid $softborder;
        }
    }
    &::up-arrow {
        top: 1px;
        image: url(qss:images_dark-light/light_up_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_up_arrow_disabled.svg);
        }
    }
    &::down-arrow {
        top: 1px;
        image: url(qss:images_dark-light/light_down_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_down_arrow_disabled.svg);
        }
    }
}

QAbstractSpinBox > QLineEdit {
    padding: 0px;
    margin: 0px;
}

// normal, disabled, hover, checked are defined
QCheckBox { 
    background: transparent; 
    @include space0px;
    margin: 2px;
    &:disabled {
        color: $disabledtext;
    }
    &::indicator {
        top: 1px;
        color: $main-txt;
        background-color: $contrast-bg;
        padding: 1px;
        width: 12px;
        height: 12px;
        @include hardborder;
        &:disabled {
            background-color: $softborder;
        }
        &:hover {
            @include borderhover;
        }
        &:checked {
            image:url(qss:images_dark-light/checkbox_light.svg); 
            width: 12px;
            height: 12px;
        }
    }
}

// normal, disabled, hover, pressed, controls are defined
QComboBox {
    background-color: $contrast-bg;
    @include softborder;
    @include space2px;
    padding-left: 8px;
    selection-background-color: $control-bg;
    &:disabled {
        color: $disabledtext;
    }
    &:hover {
        border-color: $accent-border;
    }
    &::drop-down {
        subcontrol-origin: border;
        subcontrol-position: top right;
        background-color: $softborder;
        border: 2px solid transparent;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        &:disabled {
            background-color: transparent;
        }
        &:hover {
            background-color: $hardborder;
        }
        &:pressed {
            background-color: $accent-bg;
        }
    }
    &::down-arrow {
        image: url(qss:images_dark-light/light_down_arrow.svg);
        &:disabled {
            image: url(qss:images_dark-light/light_down_arrow_disabled.svg);
        }
    }
}

// non-interactive element
QDockWidget {
    background: transparent;
    @include space0px;
    @include hardborder;
    titlebar-close-icon: url(qss:images_dark-light/close_light.svg);
    titlebar-normal-icon: url(qss:images_dark-light/light_detach.svg);
    &::title {
        margin: 4px;
        text-align: center;
    }
}

// non-interactive element
QDialog {
    background-color: $main-bg;
    @include noborder;
    @include space0px;
    dialogbuttonbox-buttons-have-icons: 0;
}

// non-interactive element
QGroupBox {
    font-weight: bold;
    border: 3px solid $softborder;
    margin: 10px;
    padding-top: 10px;
    margin-left: -20px;
    margin-right: -20px;
    &::title {
            top: -10px;
            margin-left: 16px;
            subcontrol-position: top left;
            padding-left: 4px;
            padding-right: 12px;
            padding-top: 2px;
            padding-bottom: 2px;
    }
}

// needs refinement applied to property view, spreadsheet etc.
QHeaderView::section {
    background-color: $softborder;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid $contrast-bg;
    border-right: 1px solid $contrast-bg;
    padding: 4px;
    padding-left: 12px;
}

// non-interactive element
QLabel {
    background-color: transparent;
    text-align: right;
    @include space0px;
    &::label {
        subcontrol-origin: center right;
    }
}

// normal, disabled, hover, focus
QLineEdit {
    background-color: $contrast-bg;
    @include softborder;
    @include space2px;
    @include wide6px;
    &:disabled {
        color: $disabledtext;
    }
    &:hover {
        @include borderhover;
    }
    &:focus {
        @include borderhover;
    }
}

QListView {
    padding: 8px;
    background-color: $contrast-bg;
    alternate-background-color: $contrast-bg;
}

QMainWindow {
    @include space0px;
    @include noborder;
    &::separator {
        border: 0px solid transparent;
        background-color: $softborder;
        &:hover {
            background-color: $accent-bg;
        }
        &:vertical {
            width: 4px;
        }
    }
}

//finished
QMenu {
    background-color: $contrast-bg;
    @include softborder;
    border-radius: 0px;
    &::item {
        color: $softtext;
        padding: 4px;
        padding-left: 10px;
        padding-right: 28px;
        @include noborder;
    }

    &::item:disabled {
        color: $disabledtext;
    }

    &::item:selected {
        color: $main-txt;
        @include borderhover;
        background-color: $accent-bg;
    }

    &::item:pressed {
        color: $main-txt;
        @include borderhover;
        background-color: $accent-bg;
    }

    &::icon {
        left: 6px;
    }

    &::indicator {
        left: 6px;
    }

    &::right-arrow {
        right: 8px;
    }
    &::separator {
        height: 1px;
        background-color: $softborder;
        margin: 0px 10px;
    }
} 

QMenuBar {
    padding: 2px 0px 2px 0px;
    color: $softtext;
    background-color: $contrast-bg;
    border-bottom: 1px solid $softborder;

    &::item {
        @include noborder;
        padding: 1px;
        padding-left: 2px;
        padding-right: 2px;
    }

    &::item:pressed {
        color: $main-txt;
        background-color: $accent-bg;
        @include borderhover;
        border-radius: 2px;
    }

    &::item:selected {
        color: $main-txt;
        background-color: $accent-bg;
        @include borderhover;
        border-radius: 2px;
    }
}

QPushButton {
    min-width: 80px;
    padding: 4px 4px 4px 4px;
    border: 1px solid $contrast-bg;
    background-color: $control-bg;
    &:hover {
        border:1px solid $accent-border;
        background-color: $softborder;
    }
    &:disabled {
        color: $disabledtext;
        background-color: $softborder;
    }
    &:pressed {
        background-color: $accent-bg;
    }
}

QRadioButton {
    @include space0px;
    &::indicator {
        top: 1px;
        height: 13px;
        width: 13px;
        @include hardborder;
        border-radius: 7px;
        background-color: $contrast-bg;
    }
    &::indicator:checked {
        image:url(qss:images_dark-light/radiobutton_light.svg);
    }
}

QScrollBar {
    background-color: $contrast-bg;
    margin: 0px;
    &::handle {
        background-color: $hardborder;
        border: 1px solid transparent;
        border-radius: 3px;
        &:hover {
            background-color: $accent-bg;
            border: 1px solid $accent-border
        }
        &:vertical {
            margin: 16px 3px;
        }
        &:horizontal{
            margin: 3px 16px;
        }
    }
    &::sub-line {
        &:vertical {
            margin: 3px 0px 3px 1px; /* 1px to correctly fit the 10px width image */
            border-image: url(qss:images_dark-light/light_up_arrow.svg);
            height: 6px;
            width: 10px;
            subcontrol-position: top;
            subcontrol-origin: margin;
        }
        &:horizontal:horizontal {
            margin: 0px 3px 0px 3px; /* 1px to correctly fit the 10px width image */
            border-image: url(qss:images_dark-light/light_left_arrow.svg);
            width: 10px;
            height: 7px;
            subcontrol-position: left;
            subcontrol-origin: margin;
        }
    }
    &::add-line {
        &:vertical {
            margin: 3px 0px 3px 1px; /* 1px to correctly fit the 10px width image */
            border-image: url(qss:images_dark-light/light_down_arrow.svg);
            height: 6px;
            width: 10px;
            subcontrol-position: bottom;
            subcontrol-origin: margin;  
        }
        &:horizontal {
            margin: 0px 3px 0px 3px; /* 1px to correctly fit the 10px width image */
            border-image: url(qss:images_dark-light/light_right_arrow.svg);
            width: 10px;
            height: 7px;
            subcontrol-position: right;
            subcontrol-origin: margin;
        }
    }
}

QSizeGrip {
    background: transparent;
    width: 12px;
    heigh: 12px;
    image:url(qss:images_dark-light/light_sizegrip.svg);
}

QTabBar {
    margin: 4px;
    &::tab {
        margin: 4px;
        @include wide6px;
        padding: 4px;
        padding-left: 12px;
        padding-right: 12px;
        min-width: 2em;
        background-color: $softborder;
        border: 0px solid transparent;
        border-radius: 4px;
        &:hover {
            background-color: $accent-bg;
        }
        &:selected {
            background-color: $accent-bg;
        }
    }
    &::close-button {
        margin-right: 6px;
        subcontrol-origin: margin;
        subcontrol-position: center right;
        background-image: url(qss:images_dark-light/close_light.svg);
        background-position: center center;
        background-repeat: none;
    }
}

QTableWidget {
    background-color: $contrast-bg;
    alternate-background-color: $contrast-bg;
    gridline-color: $hardborder;
}

QTreeView {
    background-color: $main-bg;
    alternate-background-color: $main-bg;
    @include noborder;
    selection-background-color: $accent-bg;
}

QTextEdit {
    background-color: $contrast-bg;
    @include softborder;
}

QToolBar {
    padding: 1px;
    border-bottom: 1px solid $softborder;
}

QToolButton {
    margin: 3px 4px 3px 4px;
    &:hover {
        border: 1px solid $accent-border;
    }
    &:focus {
        border: 1px solid $accent-border;
    }
    &:pressed {
        border: 1px solid $accent-border;
        background-color: $accent-bg;
    }
    &::menu-button {
        @include noborder;
        padding-right: 2px;
        padding-top: -15%;
        width: 12px;
    }
}

QToolTip {
    padding: 4px;
    @include borderhover;
    background-color: $accent-bg;
}

// Specialty styling
QDialog#Gui__Dialog__DlgPreferences QGroupBox {
    border-bottom: 0px;
}

QDialog#Gui__Dialog__DlgPreferences QListView {
    padding: 10px 5px 10px 20px;
    min-width: 120px;
}

QWidget#wbList * {
    background-color: transparent;
}

QWidget#wbList QPushButton {
    @extend QPushButton;
}

QToolBar > QToolButton#qt_toolbutton_menubutton {
    padding-right: 16px; /* add more width to buttons with menu */
}


/*==================================================================================================
Tasks panel (custom FreeCAD class)
==================================================================================================*/
/* Action group */
QFrame[class="panel"] {
    background-color: transparent; /* temporal (transparent background) */
}

/* Panel header */
QSint--ActionGroup QFrame[class="header"] {;
    border-bottom: 3px solid $hardborder;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    
}

QSint--ActionGroup QFrame[class="header"]:hover {
    background-color: $softborder;
    border-bottom: 3px solid $accent-border;
}

QSint--ActionGroup QToolButton[class="header"] {
    color: $main-txt; /* Task Panel Header text color */
    text-align: left;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

QSint--ActionGroup QFrame[class="header"] QLabel {
    background-color: transparent;
    background-image: url(qss:images_dark-light/light_down_arrow.svg);
    background-repeat: none;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

QSint--ActionGroup QFrame[class="header"] QLabel[fold="true"] {
    background-color: transparent;
    background-image: url(qss:images_dark-light/light_up_arrow.svg);
    background-repeat: none;
    background-position: center center;
    padding: 0px;
    margin: 0px;
}

QSint--ActionGroup QFrame[class="content"] QGroupBox > QCheckBox {
    subcontrol-origin: border;
    subcontrol-position: center left;
}

// QSint--ActionLabel[class='action'] {
//     qproperty-iconSize: 0px;
// }

Gui--PropertyEditor--PropertyEditor {
    gridline-color: $hardborder;  
    qproperty-groupBackground: $control-bg;
}
